<div class="row">
  <div class="col-xs-12">
    <img [src]="item.image"
    [alt]="item.name" class="img-responsive" style="max-height: 200px">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <h4>{{item.name}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 btn-group">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipe<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{item.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{item.ingredients}}
  </div>
</div>